html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(to bottom, #DD5511, #FFB7BB 30%, #53DAf8 60%, #748af8);
}

#timedisplay {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    width: 100%;
    height: 120px;

    text-align: center;

    margin: auto;
}

#timerprogress {
    position: fixed;
    top:0;
    left:0;
    right:0;
}

#fullscreen-btn{
    position: fixed;

    bottom: 0;
    right: 0;
}